<!--
managerHeader_menu.html
Purpose:
    This is the main menu bar under the very top component of each page for managers.
-->
<!DOCTYPE HTML>

<div class="menu">
  <ul id="dc_mega-menu-orange" class="dc_mm-orange">
      <li><a href="../staff/index.php">Home</a></li>
      <li><a href="../staff/view_inventory.php">View Inventory</a></li>
      <li><a href="../staff/update_inventory.php">Update Inventory</a></li>
      <li><a href="../staff/#">Ship Orders</a></li>
	  <li><a href="../staff/#">Sales Statistics</a></li>
	  <li><a href="../staff/#">Sales Promotions</a></li>
	  <li><a href="../logout.php">Logout</a></li>
      <div class="clear"></div>
  </ul>
</div>
